<main>
  {% for feature in site.features %}
    <hr id='{{ feature.id }}'>

    <section>
      <img class='{% cycle 'pull-right', 'pull-left' %}' src='{{ feature.image }}'>
      <h2>{{ feature.heading }}<span>{{ feature.subheading }}</span></h2>
      <div class='lead'>{{ feature.content }}</div>
      {% for external_resource in site.external_resources %}
        <section>
          <h3>{{ external_resource.name }}</h3>
        </section>
      {% endfor %}
    </section>
  {% endfor %}

  <hr>
</main>